/** 
* * HOME SECTION
* *test
*/
.home-page {
  background-color: rgba(0, 0, 0, 0.4);
  margin: 5rem auto 0 auto;
  border-radius: 5px;
  width: 130vh;
  color: white;
  text-align: center;
}
.home-page h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
