.contact-page {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2))), url("../images/m5.jpg");
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%), url("../images/m5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
.contact-buttons {
    border-left: 4px solid rgba(255, 255, 255, 0.698);
}
.justify-content-center.col {
    text-align: center;
    left: 80px;
}
hr.divider {
    max-width: 12.25rem;
    border-width: 0.2rem;
}

h2.text-white.mt-0 {
    margin-bottom: 25px;
}
.contact-buttons.col {
    text-align: center;
}